#video-container{
    min-width: 100%;
    min-height: 100%;
}

#screen-video{
    margin: auto;
    padding: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}